body
{
    background-image: url("../images/Cupcakes13c.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

h2{
    font-size:xx-large;
    font-weight: bolder;
    color:crimson;
    margin-left: 20px;
}




.startlink
{
    color:crimson;
    margin-left: 20px;
}
p
{
    font-size: large;
    
}

.products
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
    
.contactlinks
{
    
    width: 10%;
   
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1 0 30%;
    vertical-align: center;
    padding-top: 40px;
   
}
.shop
{
    display: flex;
    flex-direction: column;
   
}.photo
{
    
    width: auto;
    height: 75%;
    border-radius: 5%;
}
   
.products
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.cakes
{
    display:flex;
    flex-direction: row;
    max-width: 30% ;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:crimson;
    border-radius: 5%;
    margin: 10px;
}
.info
{
   text-align: center;
   margin: 10px;
   
}    
.info >h3
{
    font-size: 27px;
    margin: 0px;
    
}
.info >button
{
    background-color: crimson;
    color:aliceblue;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.info >p{
   
    margin: 0px;
}
.footer
{
    display: flex;
    
    background-color:lavender;
   
    flex-direction: row;
    justify-content: center;
    
    bottom: 5px;
   
}