body{
    background-image: url("../images/Cupcakes13c.png");
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.footer
{
    display: flex;
    
    background-color: darkgrey;
   height: 10%;
    flex-direction: row;
    justify-content: center;
    
    
    width: 100%;
}
.contactlinks
{
    
    width: 10%;
   
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1 0 30%;
    vertical-align: center;
    padding-top: 40px;
    
}
.shop
{
    display: flex;
    flex-direction: row;
}



.photo
{
    
    max-width: 30%;
    max-height: 10%;
}
   